


.text-center{
    border: 2px solid rgb(197, 187, 187);
    border-radius: 10px;
    width: 35%;
    background-color: rgb(219, 219, 219);
}
.teksti-login{
    border-bottom: 2px solid rgb(188, 188, 188);
    
}
.ubt-logo{
    width: 15%
}
.container{
    border-radius: 4px;
    padding: 20px;
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container button{
    margin: 10px 0px;
    
}

.footer{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items:center;
    
    padding: 30px 0;
    background-image: url("../Assets/gray-geometric-background-light.webp");
}

.footer h4{
    font-size: 15px;
    color: white;
}

.footer a,p{
    text-decoration: none;
    color:rgb(82, 90, 248);
}
.footer a:hover{
    color: rgb(255, 0, 0);
}
